.cart-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
  }
  
  .cart-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cart-details {
    flex: 1;
    margin-left: 15px;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .quantity-control button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-btn {
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cart-summary {
    margin-top: 20px;
    text-align: center;
  }
  
  .clear-cart,
  .continue-shopping ,
  .checkout-btn{
    background: #f38b4f;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  